<h3>Yeni Ürün Ekle - Reactive</h3>
<form [formGroup]="productAddForm" (ngSubmit)="add()" class="form-group">
    <div>
        <input type="text" id="productName" name="productName" formControlName="productName" class="form-control" placeholder="Ürün Adı">
        <div class="alert alert-danger" *ngIf="productAddForm.get('productName')!.hasError('required') && productAddForm.get('productName')!.dirty">Ürün Adı Zorunludur</div>
    </div>
    <div>
        <input type="text" id="description" name="description" formControlName="productName" class="form-control" placeholder="Açıklama">
        <div class="alert alert-danger" *ngIf="productAddForm.get('description')!.hasError('required') && productAddForm.get('description')!.dirty">Açıklama Zorunludur</div>
    </div>
    <div>
        <input type="text" id="imageUrl" name="imageUrl" formControlName="imageUrl" class="form-control" placeholder="Resim">
        <div class="alert alert-danger" *ngIf="productAddForm.get('imageUrl')!.hasError('required') && productAddForm.get('imageUrl')!.dirty">Resim Zorunludur</div>
    </div>
    <div>
        <input type="text" id="price" name="price" formControlName="price" class="form-control" placeholder="Fiyat">
        <div class="alert alert-danger" *ngIf="productAddForm.get('price')!.hasError('required') && productAddForm.get('price')!.dirty">Fiyat Zorunludur</div>
    </div>
    <div class="form-group">
        <select class="form-group" formControlName="categoryId" required id ="categoryId">
            <option *ngFor="let category of categories" [value]="category.id">{{category.categoryName}}</option>
        </select>
        <div *ngIf="productAddForm.get('categoryId')!.hasError('required') && productAddForm.get('categoryId')" class="alert alert-danger">Kategori gereklidir</div>
        <button type="submit" class="btn btn-primary" [disabled]="productAddForm.invalid">Ürün Ekle</button>
    </div>
</form>